<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">
        <form #spForm="ngForm" (ngSubmit)="onSubmit()">
            <div *ngIf="price.pricing_id==0"><h1>Add Price</h1></div>
            <div *ngIf="price.pricing_id>0"><h1>Update Price</h1></div>

           
              <div class="form-group row">
                  <label class ="col-sm-2 col-form-label">Created User</label>
                  <div class ="col-sm-10">
                      <input type ="text" name="created_user" [(ngModel)]="price.created_user" />
                  </div>
                </div>
                
              <div class="form-group row">
                <label class ="col-sm-2 col-form-label"> Created Date Time</label>
                <div class ="col-sm-10">
                    <input type ="date" name="created_date_time" [(ngModel)]="price.created_date_time" />
                </div>
              </div>
              <div class="form-group row">
                  <label class ="col-sm-2 col-form-label">Last Modified User</label>
                  <div class ="col-sm-10">
                      <input type ="text" name="last_modified_user" [(ngModel)]="price.last_modified_user" />
                  </div>
                </div>
                <div class="form-group row">
                <label class ="col-sm-2 col-form-label">Last Modified Date Time </label>
                <div class ="col-sm-10">
                    <input type ="date" name="last_modified_date_time" [(ngModel)]="price.last_modified_date_time" />
                </div>

              </div>
              
                <div class="form-group row">
                  <div class="col-sm-2"><button type ="submit"class="btn btn-info">Submit</button></div>
                  <div class="col-sm-2"><button type="reset" class="btn btn-info">Reset</button></div>
                </div>
              </form>
          </div>
          </div>
          </div>

